/*
Custom Fonts
-------------
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;
-------------
*/


body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* Headings */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 7% 15%;
}

/* Navigation bar*/

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Title */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    
    .img-title{
        position: static;
        transform: rotate(0);
    }
    
}

.btn-download{
    margin: 5% 3% 5% 0;
}

.img-title{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}

/* features */
#features{
    background-color: white;
    position: relative;
}

.feature-title{
    font-size: 1.5rem;
}

.icon-function{
    color: #ef8172;
    margin-bottom: 10px;
}

.icon-function:hover{
    color: #ff4c68;
}

/*Testimonial section*/
#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-txt{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    padding: 100px;
}

.price-txt{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-clm {
    padding: 3% 2%;
}

/* footing */
.footer-icon{
    padding: 5% 0% 1%;
    margin-left: .6%;
    font-size: 1.5rem;
    color: #000;
}

/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}